{% extends "cafe/base.html" %}
{% load static %}
{% block jumbohome %}
	<div class="container">
	    <div class="jumbotron text-center ">
	        <img src="{% static 'cafe/img/floralcoffee.svg' %}" style="width:350px" class="img-responsive">
	        <p class="lead wow fadeInUp">Welcome To Our Cafe</p>
	        <h1 class="display-3 wow fadeInUp">- Thé et Café -</h1>
	        <p class="lead wow fadeInUp">
	            <a class="btn btn-primary contact-primary-button wow fadeInUp" href="#" role="button">Learn more</a>
	        </p>
	    </div>
	</div>
{% endblock %}


{% block content %}
  
    <h1>Hello </h1>
    
{% endblock %}