
body {
	font-family: 'Raleway', sans-serif;
	width: 100%;
	height:100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

.bg-main {
    background: url('./img/bg5.jpg');
    background-size: cover;
}

.cafebrand {
	color: white!important;
}

.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: transparent;
    color:#fff;
    padding-left: 1rem!important;
    margin-left: 1.5rem!important;
}

h1, h2, h3, h4 {
	font-family: 'Pacifico', cursive;	
}



.nav-link {
    color: #000000!important;
    padding-left: 2rem!important;
    font-weight: bold;
    text-align: center!important;
}

.jumbotron {
    background:transparent;
    color:#fff;
    padding:5rem;
    margin-bottom:0;
    text-align: right;
}

.jumbotron p {
    color: #000000!important;
}
